@using Shop.Models

@model PriceProduct

<div>
    <h1>@Model.Product.Name</h1>
    <p>Описание: @Model.Product.Description</p>
    <p>Цена: @Model.Price</p>
    <p>Товара в наличии: @Model.Count</p>
    <p>Срок поступления товара в продажу: @Model.Departure</p>
</div>